*{
    font-family: 'Quicksand', sans-serif;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: left;
    background: url("../img/hero.png") no-repeat center center;
    background-size: 100% auto;
    height: 600px;
}

h1,h2,h3,h4,h5{
    text-transform: capitalize;
}